.hidden {
    display: none;
}

input:focus {
    outline:none;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nameBox {
    border: 0;
    margin-top: 100px;
    width: 115px;
    background: ghostwhite;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 30px;
}


#hello {
    margin-top: 60px;
    margin-bottom: 30px;    
    background: ghostwhite;
    border-radius: 10px;
}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.clockNum {
    font-size: 100px;   
    margin: 0;
    
}

button {
    border: 0;
    background: none;
}

.todo-container {
    display: flex;
    flex-direction: column;
    background: ghostwhite;
    border-radius: 10px;
}

.todoBox {
    border: 0;
    width: 100px;
    background: ghostwhite;
}

img {
    width: 100%;
    height: 100%;
}

.quote {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.authors {
    display: flex;
    justify-content: center;
}

#weather {
    margin-bottom: 10px;
}